/* variables (colors) */
:root{
    --purple: #9153ff;
    --pink: #ff9fd7;
    --green: #68e65c;
    --white: #f6f1e6;
    --gray: #999792;
    --lightgray:#d6dbdb;
    --blue: #3cb0f1;

}

html, body{
    margin: 0;
    background-color: rgba(251,161,215,255);
    font-family: "Grandstander", Sans-serif;
    background-image:url(img/Doodle-Dogs-Compilation-Background-min.png);
    background-repeat: repeat;
    background-size: 80%;
    background-attachment: fixed;
}


/* general buttons */
button{
    font-family: "Grandstander", Sans-serif;
    background-color: rgb(64,172,252); 
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: min(4vw, 30px);
    margin-top:min(1vh,1vw);
    margin-bottom: min(1vh,1vw);
    margin:min(.8vh,.8vw);
    padding-top: 5;
    padding-bottom: 5;
    padding-left:10;
    padding-right:10;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius:8px;   
}
button:hover:not(.slick-next):not(.slick-prev){
    transform: scale(1.1);
}


/* the header with the doodle dogs logo */
.header{
    height:fit-content;
    background-color: var(--pink);
    top:0;
    position:fixed;
    width:100%;
}
#logo_pic{
    height:min(5vh,5vw);
    padding-left: 3%;
    padding-top:0;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#bubblegum_pic{
    height:min(5vh,5vw);
    float:right;
    padding-right:3%;
}
#bubblegum_pic:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}


/* The title of the game (with gradient effects) */
.title-div h1{
    font-size: min(7vh,7vw);
    font-weight:bold;
    text-align: center;
    margin-left:10;
    margin-right:10;
    margin:10px;
    padding:5;
    -webkit-text-stroke: 1px black;
}
.gradient-text
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--pink) 15%,
    var(--purple) 20%, 
    var(--blue) 67%,
    var(--pink) 100%
  );
  
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--white);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* the main game div */
.game {
    background-color: rgba(255, 255, 255,.85);
    width: min(85vh, 85vw);
    margin: auto;
    margin-top: min(10vh,10vw);
    padding-bottom: min(5vh, 5vw);
    padding-left: min(6vw, 6vh);
    padding-right:min(6vw, 6vh);
    /* padding-left: min(6vw,6vh);
    padding-right: min(6vw,6vh); */
    padding-top:min(4vh, 4vw);
    border-radius:8px;
    margin-bottom: min(10vh,10vw);
    
}


/* randomize button */
.randomize_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.randomize_wrapper button{
    font-size:min(4vh,4vw);
    padding:min(1.5vh,1.5vw);
    margin:0;
    background-color:var(--gray);
}

/* the canvas for the avatar */
#canvas1{
    border: 5px solid white;
    border-radius: 8px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: min(1vh, 1v1);
    margin-top:min(1vh, 1vw);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image:url(img/loading.gif);
    background-size:100%;

}


/* the categories */
#category_div {
    justify-content: center;
    display: flex;
}
#category_div button{
    font-size:min(5vh,5vw);
}
#category_div .button:active, .active{
    background-color: var(--purple);
}

#options_div img:hover{
    /* transition: background-color 10s ease; */
    background-color: var(--green);
}
div.options_slick {
    margin-top:min(1vh, 1vw);
    background-color: var(--lightgray);
    width: min(80vw, 80vh);
    height:fit-content;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: scroll;
    border-radius:8px;
    padding:min(1vh,1vw);
}
div.options_slick img{
    display: inline-block;
    height:min(21vh,21vw);
    border: solid 3px white;
    transition: background-color 10s ease;
    transition-duration: 0.3s ;
    display: flex;
    background-color: var(--pink);
    border-radius:8px;
    margin-left:min(1vh,1vw);
    margin-right:min(1vh,1vw);
    margin:min(1vh,1vw);
    box-shadow: 0 0 min(.7vw,.7vh) min(.7vw,.7vh) var(--gray);
}
div.options_slick .active{
    /* border: solid 3px var(--green); */
    box-shadow: 0 0 min(.7vw,.7vh) min(.7vw,.7vh) var(--green);
    /* box-shadow: 0 0 1vw 1vw var(--gray); */
}


/* option scroll bar custimization */
/* width */
.options_slick::-webkit-scrollbar {
    height: min(2vh,2vw);
}

/* Track */
.options_slick::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.options_slick::-webkit-scrollbar-thumb{
    background: var(--blue); 
}

/* Handle on hover */
.options_slick::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* download image button */
.lower_buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lower_buttons button{
    background-color: rgb(104,230,92);
    margin-top:min(3.5vh,3.5vw);
    font-size: min(4vw, 4vh);
    padding:2%;
}
