/* variables (colors) */
:root{
    --purple: #9153ff;
    --pink: #ff9fd7;
    --green: #68e65c;
    --white: #f6f1e6;
    --gray: #999792;
    --lightgray:#d6dbdb;
    --blue: #3cb0f1;

}

html, body{
    margin: 0;
    background-color: rgba(251,161,215,255);
    font-family: "Grandstander", Sans-serif;
    background-image:url(img/Doodle-Dogs-Compilation-Background-min.png);
    background-repeat: repeat;
    background-size: 150%;
    background-attachment: fixed;
}


/* general buttons */
button{
    font-family: "Grandstander", Sans-serif;
    background-color: rgb(64,172,252); 
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: min(4vw, 30px);
    margin-top:1%;
    margin-bottom: 1%;
    margin:1%;
    padding-top: 5;
    padding-bottom: 5;
    padding-left:10;
    padding-right:10;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius:8px;   
}
button:hover:not(.slick-next):not(.slick-prev){
    transform: scale(1.1);
}


/* the header with the doodle dogs logo */
.header{
    height:fit-content;
    background-color: var(--pink);
    top:0;
    position:fixed;
    width:100%;
}
#logo_pic{
    height:5vh;
    padding-left: 3%;
    padding-top:0;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#bubblegum_pic{
    height:5vh;
    float:right;
    padding-right:3%;
}
#bubblegum_pic:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}


/* The title of the game (with gradient effects) */
.title-div h1{
    font-size: 5vw;
    font-weight:bold;
    text-align: center;
    margin-left:10;
    margin-right:10;
    margin:10px;
    padding:5;
}
.gradient-text
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--pink) 15%,
    var(--purple) 20%, 
    var(--blue) 67%,
    var(--pink) 100%
  );
  
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--white);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* the main game div */
.game {
    background-color: rgba(255, 255, 255,.85);
    width: 85%;
    margin: auto;
    margin-top:10vh;
    padding-bottom:5vh;
    padding-left: 6vw;
    padding-right:6vw;
    /* padding-left: min(6vw,6vh);
    padding-right: min(6vw,6vh); */
    padding-top:4vh;
    border-radius:8px;
    margin-bottom: 10vh;
}


/* randomize button */
.randomize_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.randomize_wrapper button{
    font-size: min(2.5vw, 20px);
    padding:1vh;
    margin:0;
    background-color:var(--gray);
}

/* the canvas for the avatar */
#canvas1{
    border: 5px solid white;
    border-radius: 8px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom:1vh;
    margin-top:1vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* the categories */
#category_div {
    justify-content: center;
    display: flex;
}
#category_div .button:active, .active{
    background-color: var(--purple);
}


/* the options */
/* #options_div{
    height:fit-content;
} */
/* #options_div img{
    display: inline-block;
    height:12vw;
    border: solid 3px white;
    transition: background-color 10s ease;
    transition-duration: 0.3s ;
    display: flex;
    background-color: #9153ff;
    border-radius:8px;
} */
#options_div img:hover{
    /* transition: background-color 10s ease; */
    background-color: var(--purple);
}
div.options_slick {
    margin-top:1vh;
    background-color: var(--lightgray);
    width: 80vw;
    height:fit-content;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    border-radius:8px;
    padding:1vh;
}
div.options_slick img{
    display: inline-block;
    height:12vw;
    border: solid 3px white;
    transition: background-color 10s ease;
    transition-duration: 0.3s ;
    display: flex;
    background-color: var(--pink);
    border-radius:8px;
    margin-left:1vh;
    margin-right:1vh;
    margin:1vh;
    box-shadow: 0 0 .7vw .7vw var(--gray);
}
div.options_slick .active{
    border: solid 3px var(--green);
    /* box-shadow: 0 0 1vw 1vw var(--gray); */
}



/* download image button */
.lower_buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lower_buttons button{
    background-color: rgb(104,230,92);
    margin-top:3.5vh;
    font-size: min(4vw, 30px);
    padding:2%;
}


